<div class="row sidebar_row">
  <div class="col-md-4 col-xs-4 col-sm-4 info_icon">
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4">
    <h3 class="heading_h3">
      Variants
    </h3>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 add_icon">
    <img src="assets/images/Plus_Off.png" (click)="addClick(template)" />
  </div>
</div>
<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <label>Search: </label> <input type="text" id="myInput"  title="Type in a name">
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-striped" [mfData]="productVarient" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Variant Name</th>
          <th>Product Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of mf.data let i = index">
          <td>{{i+1}}</td>
          <td>{{data.Variant_Name}}</td>
          <td>{{data.Product_Name}}</td>             
          <!-- <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-option-vertical" (click)="edit(data)"></span></a></td> -->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="DialogHeading">Add Varients</h4>
    </div>
    <div class="modal-body modal-md">
      <form class="form-horizontal" id="add-form" [formGroup]="addNewForm" (ngSubmit)="onFormSubmit()">
        <div class="row">
          <div class="col-md-4">
            <label>Product*</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" [(ngModel)]="model.Product_Id" formControlName="Product">
              <option value="0">--Select--</option>
              <option *ngFor="let products of addProductVarient.Product" value="{{products.Id}}">{{products.Product_Name}}</option>
            </select>
            <div class="error-alert" *ngIf="addNewForm.controls.Product.errors && addNewForm.touched">
              <div *ngIf="addNewForm.controls.Product.touched && addNewForm.controls.Product.errors.pattern">
                Select Product Name.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Varient Name*</label>
          </div>
          <div class="col-md-8">
          <input type="text" placeholder="Varient Name"
           [(ngModel)]= "model.Product_Name" 
           maxlength="100" 
           class="form-control" formControlName="Name"
           [ngClass]="{ 'is-invalid': f.Name.touched && f.Name.errors }" 
          />
          <div *ngIf="f.Name.touched && f.Name.errors" class="invalid-feedback">
            <div class="error-alert" *ngIf="f.Name.errors.required">Varient Name is required</div>
            <div class="error-alert" *ngIf="f.Name.errors.pattern">No special characters allowed (except &, _,-,.)</div>
            <div class="error-alert" *ngIf="f.Name.errors.maxlength">Should not exceed 100 character</div>
          </div>
          </div>
        </div>
      <div class="modal-footer">
        <button [disabled] = "!addNewForm.valid" type="submit" class="btn btn-default">Add</button>
        <button type="button" class="btn btn-default" (click)="callClose()">Cancel</button>
      </div>
    </form>
    </div>
  </ng-template>
</div>
